---
const testimonials = [
  {
    name: 'Rebecca Hayes',
    description: 'Designer',
    image: '/assets/testimonial-1.webp',
    message:
      '“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”',
  },
  {
    name: 'Rosa Spencer',
    description: 'Team Leader',
    image: '/assets/testimonial-2.webp',
    message:
      '“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”',
  },
  {
    name: 'Christina Upton',
    description: 'Manager',
    image: '/assets/testimonial-3.webp',
    message:
      '“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="text-center text-3xl font-medium tracking-tight sm:text-4xl">
        Trusted by Leading Healthcare Institutions
      </h2>
      <div class="flex flex-wrap justify-center gap-x-8 gap-y-10 lg:gap-x-14 lg:gap-y-12">
        <!-- Replace with your actual client logos -->
        <img class="h-8 w-auto dark:invert" src="/assets/client-1-logo.svg" alt="Client 1" />
        <img class="h-8 w-auto dark:invert" src="/assets/client-2-logo.svg" alt="Client 2" />
        <img class="h-8 w-auto dark:invert" src="/assets/client-3-logo.svg" alt="Client 3" />
        <img class="h-8 w-auto dark:invert" src="/assets/client-4-logo.svg" alt="Client 4" />
        <img class="h-8 w-auto dark:invert" src="/assets/client-5-logo.svg" alt="Client 5" />
      </div>
    </div>
  </div>
</section>
